body{
    margin-top: 10%;
}
section{
    margin: 0 auto;
    width: 25%;
}
article{
    background-color: bisque;
    transition: padding 3s;
    margin: 0 auto;
    width:200px;
    padding: 5px;
    
}
p{
    text-align: center;
    border: 2px solid bisque;
    border-radius: 10px;

    
}
article:hover{
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}
