body{
    padding: 0px;
    margin: 0px;
    background-color: #B4A9E6;
    color:#E6DEA8;
}
nav{
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}
nav >a{
    text-decoration: none;
    font-size: 23px;
    margin-left: 10%;
    margin-right: 10%;   
}

nav>a:link{
 
    color: black;

}
nav > a:active{
    color: #E6DEA8;
}
nav > a:hover{
    color: #E6DEA8;
    border-bottom: solid 2px #DCD4FF;
}
i{
    color: black;
    padding-right: 1%;
}

hr{
    border: 0; 
    height: 0; 
    box-shadow: 0 3px 5px 3px #B4A9E6;
}
main{
    background-color: #6B6099;
}
#cabecera{
    text-align: center;
    margin-bottom: 2%;
}
#cabecera>img{
 height: 220px;
 width: 220px;
 border-radius: 90px;
}
#sobre-mi{
    width: 100%;
}
#sobre-mi > header > img{
    width: 100%;
}