body{
    padding: 0px;
    margin: 0px;
    background-color: #B4A9E6;
    color:#E6DEA8;
}
nav{
 background-color: #DCD4FF;
 height: 30px;
 padding-top: 10px;
 padding-bottom: 10px;
}
a{
    text-decoration: none;
    font-size: 23px;
    padding-right: 13px;
}
a:first-child{
    margin-left: 20px;
}
nav>a:link{
 
    color: black;

}
hr{
    display: none;
}
main{
    background-color: #6B6099;
}
#cabecera{
    text-align: center;
}
#cabecera>img{
 height: 220px;
 width: 220px;
}